@using BlazorSignalR
@using Microsoft.AspNetCore.SignalR.Client
@using Microsoft.Extensions.Primitives
@using SpotIt.Shared
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime

<h3>GameList</h3>
@if (games == null || games.Count == 0)
{
    <p>No games yet.</p>
}
else
{
    <ul>
        @foreach (var game in games)
        {
            <li><a href="@GameUrl(game)">@GameUrl(game)</a></li>
        }
    </ul>
}

@code {
    public List<Game> games { get; set; }
    public string Asd { get; set; }
    HubConnection _connection;

    public string GameUrl(SpotIt.Shared.Game game) => $"{NavigationManager.BaseUri}play/{game.Id}";

    protected override async Task OnInitializedAsync()
    {
        _connection = new HubConnectionBuilder().WithUrlBlazor("/hub", JsRuntime, NavigationManager, options: opt => { }).Build();
        _connection.On<List<Game>>("GameList", GameListed);
        await _connection.StartAsync();

        await _connection.InvokeAsync<Game>("ListGames");
    }
    protected async Task GameListed(List<Game> games)
    {
        this.games = games;

        StateHasChanged();
    }
}